<!--
  ~ Copyright (c) 2010, 2023 BSI Business Systems Integration AG
  ~
  ~ This program and the accompanying materials are made
  ~ available under the terms of the Eclipse Public License 2.0
  ~ which is available at https://www.eclipse.org/legal/epl-2.0/
  ~
  ~ SPDX-License-Identifier: EPL-2.0
  -->
<!-- **** VERSIONS **** -->
<div id="versions-header">
  <h1>Version Overview</h1>
  <p>Select the most up-to-date Eclipse Scout release anytime you start a new project. In case you
    still need an older version for historical research, you can find it here.</p>
</div>

<div class="content-block first filler">
  <table class="content-table">
     <tr>
         <td class="first version-marker">latest</td>
         <td class="version"><a id="v24.2">Version 24.2</a></td>
         <td><a href="https://github.com/eclipse-scout/scout.rt/tree/releases/24.2">Sources</a></td>
         <td><a href="https://eclipsescout.github.io/scout-docs/24.2/">Documentation</a></td>
         <td class="last"><a href="https://eclipsescout.github.io/scout-docs/24.2/getstarted/getstarted.html">Get Started</a></td>
     </tr>
   <tr>
       <td class="first"></td>
       <td class="version"><a id="v24.1">Version 24.1</a></td>
       <td><a href="https://github.com/eclipse-scout/scout.rt/tree/releases/24.1">Sources</a></td>
       <td><a href="https://eclipsescout.github.io/scout-docs/24.1/">Documentation</a></td>
       <td class="last"><a href="https://eclipsescout.github.io/scout-docs/24.1/getstarted/getstarted.html">Get Started</a></td>
   </tr>
   <tr>
       <td class="first"></td>
       <td class="version"><a id="v23.2">Version 23.2</a></td>
       <td><a href="https://github.com/eclipse-scout/scout.rt/tree/releases/23.2">Sources</a></td>
       <td><a href="https://eclipsescout.github.io/scout-docs/23.2/">Documentation</a></td>
       <td class="last"><a href="https://eclipsescout.github.io/scout-docs/23.2/getstarted/getstarted.html">Get Started</a></td>
   </tr>
  </table>

  <div id="older-versions-info">
    Looking for an older Scout release? <br class="mobile-only"/>
    See <a href="https://eclipsescout.github.io/">all Scout versions</a>.
  </div>

</div>
